.container {
  width: 100%;
  height: 450px;
  padding: 15px 10%;
  border-bottom: 1px solid #d8d8d8;

}

.myCard {
  background-color: transparent;
  border: transparent;
  width: 100%;
  padding: 0;
}

.myCardHeader {
  background-color: transparent;
  border: transparent;
  padding: 7.5px 0;
}

.list{
  list-style: none;
}

.Category{
  background: transparent;
  border: transparent;
  width: 100%;
  text-align: left;
  color: white;
}
